<br>
<div class="form-signin well" >
<legend class="center">Sign in to Tweenter</legend>

<%= simple_form_for :session do |f| %>
	<%= f.input :email, label: false, placeholder: 'Email', input_html: { class: 'form-control' }  %>
	<br>
	<%= f.input :password, label: false, placeholder: 'Password', input_html: { class: 'form-control' }  %>
	<br>
	<%= f.submit "Sign In", class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
<br>
<%= link_to "Sign up for Tweenter", new_user_path %>

</div>