<h2>New user</h2>
<%= simple_form_for @user do |f| %>
<%= f.input :username %>
<%= f.input :email %>
<%= f.input :year_born %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= f.submit "Signup", class: "btn btn-primary" %>
<% end %>